*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0faff;
}
.button{
    position: relative;
    padding: 10px 22px;
    background: #7d2ae8;
    border-radius: 6pt;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: transform .2s ease;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}
.button:active{
    transform: scale(0.96);
}
.button::before, .button::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    height: 100%;
    width: 150%;
    border: 2px solid red;
    background-repeat: no-repeat;
}
.button::before{
    top: -70%;
    background-image: radial-gradient(circle,#7d2ae8 20%, transparent 20.5%),radial-gradient(circle, transparent 20%,#7d2ae8 20.5%,transparent 26%),radial-gradient(circle,#7d2ae8 20%, transparent 20.5%),radial-gradient(circle, transparent 10%,#7d2ae8 15.5%,transparent 20%);
    background-size: 10% 10%,20% 20%, 15% 20%;
    background-position: 5% 90%,10% 90%,10% 90%;
}
.button::after{
    bottom: -70%;
}