*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0faff;
}
.button{
    position: relative;
    padding: 10px 22px;
    background: #000;
    border-radius: 6pt;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: transform .2s ease;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}
.button:active{
    transform: scale(0.96);
}
.button::before, .button::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    height: 100%;
    width: 150%;
    border: 2px solid red;
    background-repeat: no-repeat;
}
.button::before{
    top: -70%;
    background-image: radial-gradient(circle,#7d2ae8 20%, transparent 20.5%),radial-gradient(circle, transparent 20%,#7d2ae8 20.5%,transparent 26%),radial-gradient(circle,#7d2ae8 20%, transparent 20.5%),radial-gradient(circle, transparent 10%,#7d2ae8 15.5%,transparent 20%),
    radial-gradient(circle,#7d2ae8 20%, transparent 20.5%),
    radial-gradient(circle,#7d2ae8 20%, transparent 20.5%),
    radial-gradient(circle,#7d2ae8 20%, transparent 20.5%),
    radial-gradient(circle,#7d2ae8 20%, transparent 20.5%);
    background-size: 10% 10%,20% 20%, 15% 20%,20% 20%,18% 18%, 10% 10%, 15% 15%, 18% 18% ;
    background-position: 5% 90%,10% 90%,10% 90%,15% 90%, 25% 90%,25% 90%,40% 90%,55% 90%,70% 90%;
    animation: topBubbles .6s ease-in-out infinite;
}
@keyframes topBubbles{
    50%{
        background-position: 0% 80%,0% 20%,10% 40%,20% 0%, 30% 30%,22% 50%,50% 50%,65% 20%,90% 30%;
    }
    100%{
        background-position: 0% 70%,0% 10%,10% 30%,20% -10%, 30% 20%,22% 40%,50% 40%,65% 10%,90% 20%;
        background-size: 0% 0%,0% 0%, 0% 0%,0% 0%,0% 0%, 0% 0%, 0% 0%, 0% 0% ;
    }
}
.button::after{
    bottom: -70%;
    left: -100%;
    rotate: 180deg;
    background-image: radial-gradient(circle,#7d2ae8 20%, transparent 20.5%),radial-gradient(circle, transparent 20%,#7d2ae8 20.5%,transparent 26%),radial-gradient(circle,#7d2ae8 20%, transparent 20.5%),radial-gradient(circle, transparent 10%,#7d2ae8 15.5%,transparent 20%),
    radial-gradient(circle,#7d2ae8 20%, transparent 20.5%),
    radial-gradient(circle,#7d2ae8 20%, transparent 20.5%),
    radial-gradient(circle,#7d2ae8 20%, transparent 20.5%),
    radial-gradient(circle,#7d2ae8 20%, transparent 20.5%);
    background-size: 10% 10%,20% 20%, 15% 20%,20% 20%,18% 18%, 10% 10%, 15% 15%, 18% 18% ;
    background-position: 5% 90%,10% 90%,10% 90%,15% 90%, 25% 90%,25% 90%,40% 90%,55% 90%,70% 90%;
    animation: topBubbles .6s ease-in-out infinite;
}