*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #350048;
}
.buttons .button{
    position: relative;
    color: white;
    padding: 14px 40px;
    background: linear-gradient(90deg, #6616d0, #ac34e7);
    border-radius: 45pt;
    margin: 0 15px;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
}
.button.two{
    background: linear-gradient(90deg, #166ad0, #349fe7);
}
.buttons .button .overlay{
    position: absolute;
    height: 400px;
    width: 400px;
    background: #fff;
    top: 0;
    border-radius: 50%;
    left: 0;
    transform: translate(-50%,-50%);
    opacity: .5;
    animation: blink .5s ease-out infinite;
}
@keyframes blink{
    0%{
        height: 0;
        width: 0;
        opacity: .6;
    }
    100%{
        height: 400px;
    width: 400px;
    opacity: 0;
    }
}