*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
body{
    background-color: #7d2ae8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle{
    position: relative;
    height: 12px;
    width: 125px;
    border-radius: 25pt;
    background-color:white;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}
.toggle::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    height: 50px;
    width: 50px;
    background-color: #7d2ae8;
    border: 10px solid white;
    border-radius: 50%;
}